* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    font-family: Raleway, sans-serif;
    font-style: normal;
    color: black;
    /* width: 100%; */
}
.h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    text-align: center;
}
.h2_black{
    color: #181818;
}

.h2_white{
    color: #fff;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    word-wrap: break-word;
}

button{
    transition: all 1s;
}
.header{
    margin-top: 40px;
    margin-bottom: 120px;
}

.container{
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.header__top{
    position: relative;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
}

.header__logo{
    text-align: center;
    padding: 2px 30px;
    position: absolute;
    /* width: 120px; */
    border: 2px solid #000000;
    border-radius: 8px;
    height: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 446px;
    height: 24px;
    margin: 0 auto;
    height: 32px;
}

.header__link{ 
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.header__link::after{
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 400ms;
}

.header__link:hover::after{
    width: 100%;
}

.icon{
    position: absolute;
    background: #F1F1F1;
    border-radius: 10000px;
    
}
.icon_programmer{
    width: 170px;
    height: 170px;
    right: 10px;
    top: 0px;
}

.icon_programmer p{
    font-size: 110px;
    margin: 26px;
    line-height: 110px; 
}

.icon_butterfly{
    width: 100px;
    height: 100px;
    left: -73px;
    top:638px;
}

.icon_butterfly p{
    width: 40px;
    font-size: 40px;
    margin: 34px 30px;
    line-height: 40px;
}

.header__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    width: 804px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 120px auto 0 auto;
    color: #181818;
}

.header__text{
    width: 484px;
    margin: 40px auto 0 auto;
    text-align: center;
}

.icon_message{
    width: 64px;
    height: 64px;
    left: 69px;
    top: 290px;
}

.icon_message p{
    width: 28px;
    margin: 20px 18px;
    font-size: 28px;
    line-height: 24px;
}
.icon_lightning{
    width: 100px;
    height: 100px;
    right: 30px;
    top: 370px;
}

.icon_lightning p{
    width: 40px;
    margin: 34px 30px;
    font-size: 40px;
    line-height: 40px;
}
.container__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__buttons{
    width: 452px;
    height: 56px;
    margin: 80px auto 0 auto;
}

.header__button{
    height: 100%;
    width: 215px;
    border: 2px solid #181818;
    border-radius: 8px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
}
.header__button_video{
    word-spacing: 12px;
    color: #181818;
    
}

.header__button_telegram{
    background-color: #181818;
    color: #fff;
}

.header__button_telegram:hover{
    color: #181818;
    background: white;
}

.header__button_video:hover{
    /* background: linear-gradient( black , black) white no-repeat 0 0;
    background-size: 0 100%;
    mix-blend-mode: multiply;
    animation: white_to_black 100ms linear 1 forwards; */
    color: white;
    background: #181818;
}

.works__buttons{
    width: 473px;
    height: 32px;
    margin: 0 auto 40px auto;
}

.works__button{
    height: 100%;
    border: 1px solid #000000;
    border-radius: 10000px;
    padding: 4px 16px;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    color: #181818;
}

.works__button:hover{
    color: white;
    background:#181818;
}

.works__button_selected{
    background: #181818;
    color: white;
}

.works__examples{
    display: grid;
    grid-gap: 40px;
    width: 100%;
    /* grid-auto-rows: 0.5fr; */
}

.works__examples img{
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    /* max-height: 500px; */
}

.works__img_big{
    grid-column: span 2;
}

.about-me__container{
    /* width: 100%; */
    padding-top: 190px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 997px;
    gap: 40px;
}

.h2_about{
    text-align: left;
    margin-bottom: 24px;
}

.about-me__img{
    /* top: 190px; */
    width: 400px;
    height: 560px;
    border-radius: 24px;
    object-fit: cover;
    position: relative;
}

.about-me__text_container{
    margin: 80px auto 0;
    width: 100%;
}

.about-me__numbers{
    margin-top: 136px;
    width: 360px;
    height: 88px;
    display: flex;
    flex-direction: row;
}

.about-me__number__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__number{
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.services__container{
    width: 100%;
    background-color: #000000;
    padding: 120px;
}



.services__types__container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.services__type{
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 368px;
    height: 384px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.services__type__id{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #181818;
    margin: 0;
}

.services__type__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin: 8px 0 0 0;
}

.services__type__devider{
    margin-top: 56px;
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
}

.services__type__price{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-top: 40px;
}

.count_cost__title{
    text-align: center;
    margin-top: 0;
}

.cost__form{
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 24px;
    width: 448px;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    font-weight: 500;
    height: 368px;
}
.cost__form__select{
    -webkit-appearance: none;
    width: 384px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
    margin:0;
}

.cost__form label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    border: none;
}

.count_cost__input_checkbox{
    width: 16px;
    height: 20px;
    margin-right: 16px;
    color: #181818;
}
.cost__form__button{
    width: 400px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    transition: all 300ms;
}

.cost__form__button:hover{
    color: white;
    background: #181818;
}

.count_cost__container{
    margin: 120px auto;
    /* height: 888px; */
}
.cost__answer{
    display: none;
}

.cost__answer_visible{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    width: 400px;
    height: 384px;
    background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 0px 0px 16px 16px;
}

.cost__answer_title{
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    /* identical to box height, or 200% */
    /* text-align: center;
    width: 100%; */
    letter-spacing: -0.02em;
    margin: 0;
    color: #181818;
}

.cost__answer_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    margin: 24px 0 0 0;
}

.cost__answer_price{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin: 0;
}

.cost__answer__button{
    width: 336px;
    margin-top: 40px;
    height: 56px;
    background-color: #181818;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.qa__container{
    width: 100%;
    padding: 120px;
    background-color: #000000;
}

.qa-questions__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    /* padding-bottom: 100px; */
    gap: 16px;
}
.qa-question{
    position: relative;
    background-color: white;
    color: black;
    border: 1px solid #CCCCCC;
    border-radius: 16px;  
    /* margin-bottom: 16px;  */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.qa-question__main_part{
    padding: 31px 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.qa-question_button{
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-weight: 600px;
    vertical-align: middle;
    text-align: center;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #181818;
}

.qa-question_answer{
    opacity: 0;
    visibility: hidden;
    transition: visibility 2s, opacity 1s;
    height: 0;
    color: black;
    width: 100%;
}

.qa-question_answer_visible{
    opacity: 1;
    visibility: visible;
    margin-top: -20px;
    color: black;
    padding: 15px 31px;
    height: auto;
}

.qa-question p{
    line-height: 24px;
    margin: 0;
}

.request__container{
    width: 100%;
    padding: 120px;
}

.request__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
}
.request__form{
    /* margin: 80px auto 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 24px;
    width: 448px;
    height: 552px;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
/* переделать!!!! */
.request__form *{
    width: 400px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
    margin:0;
}

.request__form__select{
    -webkit-appearance: none;
    width: 400px;
}

.request__form__textarea{
height: 160px;
padding-top: 12px;
}

.request__form__button{
    color: white;
    background-color: black;
    width: 400px;
    height: 56px;
    margin-top: 32px;
    padding:0;
    text-align: center;
}

.request__icon_lightning{
    width: 100px;
    height: 100px;
    left: 111px;
    top:100px
}

.request__icon_lightning p{
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-top: 34px;
    margin-left: 30px;
}

.request__icon_message{
    left: 250px;
    top: 752px;
    width: 140px;
    height: 140px;
}
.request__icon_message p{
    font-weight: 500;
    font-size: 56px;
    line-height: 24px;
    margin: 58px 42px;
}

.request__icon_programmer{
    top: 516px;
    right: 18px;
    width: 170px;
    height: 170px;
}
.request__icon_programmer p{
    font-size: 110px;
    margin: 26px;
    line-height: 110px; 
}
select option[data-default]{
    color: rgb(120, 120, 120);
}

.request__form_container{
    padding-top: 80px;
    padding-left: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.request__form__icons_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1400px) {
    .container {
      width: auto;
    }
    .services__container {
      padding: 60px;
    }
    .qa__container, .request__container{
        padding: 80px;
    }
    .about-me__container {
        width: 960px;
    }
    .header__top{
        margin: 0 60px;
    }
    .header__title{
        width: 804px;
    }
  }
  
  @media (max-width: 1260px) {
    .h2{
        font-size: 40px;
        line-height: 42px;
    }
    .services__types__container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .qa__container, .request__container{
        padding: 60px;
    }

    .about-me__container{
        align-items: center;
        width: 740px;
        padding: 60px 10px 50px;
        gap: 40px;
    }

    .about-me__numbers{
        margin-top: 44px;
    }

    .about-me__text_container{
        margin: 30px auto 0;
    }
    .about-me__img{
        height: 320px;
        width: 220px;
    }
    .header__title{
        font-size: 56px;
        width: 720px;
        margin-top: 90px;
    }

    .icon_programmer{
        width: 120px;
        height: 120px;
        right: 22px;
        top: 0;
    }
    
    .icon_programmer p{
        font-size: 64px;
        line-height: 64px;
        margin: 25px;
    }
    .icon_butterfly{
        width: 70px;
        height: 70px;
        left: 90px;
        top: 328px;
    }
    .icon_butterfly p{
        width: 20px;
        font-size: 32px;
        margin: 26px 18px;
        line-height: 20px;
    }
    .request__icon_message{
        left: 174px;
        top: 772px;
        width: 100px;
        height: 100px;
    }
    .request__icon_message p{
        font-weight: 500;
        font-size: 48px;
        line-height: 24px;
        margin: 43px 25px;
    }

    .request__icon_programmer{
        top: 516px;
        right: 7px;
        width: 140px;
        height: 140px;
    }
    .request__icon_programmer p{
        font-size: 82px;
        line-height: 110px;
        margin-top: 13px;
        margin-left: 26px;
    }

    .request__icon_lightning{
        left: 78px;
    }
  }

  @media (max-width: 768px){
    .header__nav{
        width: 380px;
    }
    .header__top{
        margin: 0 24px;
        font-size: 14px;
    }
    .header__title{
        font-size: 48px;
        width: 560px;
        margin-top: 60px;
    }
    .header__logo{
        padding: 3px 8px;
    }
    .about-me__container{
        width: 100%;
        padding: 60px 5px 32px;
        gap: 20px;
    }

    .about-me__text_container{
        margin: 0;
    }

    .about-me__numbers{
        margin-top: 72px;
    }
    .h2_about{
        margin-bottom: 18px;
    }
    .count_cost__container{
        margin-top: 80px;
    }
    /* icons */
    .icon_programmer{
        width: 85px;
        height: 85px;
        right: 22px;
        top: 16px;
        z-index: -100;
    }
    
    .icon_programmer p{
        font-size: 48px;
        line-height: 24px;
        margin: 26px 18px;
    }
    .icon_butterfly{
        width: 50px;
        height: 50px;
        left: 88px;
        top: 350px;
    }
    .icon_butterfly p{
        width: 20px;
        font-size: 20px;
        margin: 18px 15px;
        line-height: 20px;
    }

    .request__icon_lightning{
        width: 50px;
        height: 50px;
        left: 45px;
        top: 20px
    }
    
    .request__icon_lightning p{
        width: 20px;
        font-size: 20px;
        margin: 18px 15px;
        line-height: 20px;
    }

    .request__icon_message{
        left: 11px;
        top: 700px;
        width: 70px;
        height: 70px;
    }

    .request__icon_message p{
        font-size: 36px;
        line-height: 24px;
        margin: 25px 18px;
    }
    
    .request__icon_programmer{
        top: 116px;
        right: 18px;
        width: 85px;
        height: 85px;
    }
    .request__icon_programmer p{
        font-size: 48px;
        line-height: 24px;
        margin: 26px 18px;
    }
    .icon_message{
        top: 232px;
        z-index: -100;
    }
    .icon_lightning{
        width: 50px;
        height: 50px;
        top: 264px;
        z-index: -100;
    }
    
    .icon_lightning p{
        width: 20px;
        font-size: 20px;
        margin: 18px 15px;
        line-height: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .h2{
        font-size: 24px;
        line-height: 24px;
    }

    p{
        font-size: 12px;
        line-height: 14px;
    }

    .header{
        margin: 60px 0 60px;
        padding: 0 10px;
    }

    .header__title{
        font-size: 32px;
        width: 100%;
        line-height: 34px;
    }

    .header__top{
        font-size: 10px;
    }

    .header__nav{
        width: 100%;
        gap: 10px;
    }
    .header__text {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .header__logo{
        left:0;
        right: 0;
        top: -40px;
        margin: 0 auto;
        width: 60px;
    }

    .header__buttons {
        width: 300px;
        height: 36px;
        margin: 40px auto 0 auto;
    }

    .header__button {
        width: 130px;
        font-weight: 500;
        font-size: 10px;
        padding: auto 3px;
    }

    .works__buttons{
        width: 270px;
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
        margin-bottom: 40px;
    }

    .works__button{
        height: 38px;
        width: 120px;
        font-weight: 500;
        font-size: 12px;
    }

    .works__examples{
        grid-gap: 12px;
    }
    .works__img_big, .works__img_small{
        grid-column: span 2;
    }
    
    .works_examples img{
        border-radius: 16px;
        height: 128px;
    }

    .about-me__container{
        flex-direction: column-reverse;
        /* padding: 60px 15px; */
    }

    .about-me__text_container{
        align-items: center;
        width: 100%;
        padding: 0 40px;
    }

    .h2_about{
        text-align: center;
    }
    
    .about-me__numbers{
        margin-top: 40px;
        height: 50px;
        width: 100%;
        justify-content: space-between;
    }
    .about-me__img{
        width: 120px;
        height: 140px;
    }
    .qa__container, .request__container, .services__container{
        padding: 25px;
    }
       
    .qa-question_answer_visible{
        font-size: 12px;
    }

    .services__type {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      height: auto;
      padding: 40px 20px;
      width: 300px;
    }
    .services__type__text {
      font-size: 14px;
    }
    .services__type__devider {
      margin-top: 20px;
    }
    .services__type__price, .qa-questions__container, .request__container, .count_cost__container{
      margin-top: 30px;
    }

    .count_cost__container{
        margin-bottom: 60px;
    }

    .cost__form{
        margin-top: 30px;
        border: none;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        height: 320px;
    }
    .cost__form__select{
        width: 100%;
    }
    .cost__form__button{
        width: 100%;
    }

    .cost__answer_visible{
        width: 300px;
        height: 348px;
    }

    .cost__answer_title{
        font-size: 20px;
        line-height: 24px;
    }

    .cost__answer__button{
        width: 100%;
    }

    .request__form{
        border: none;
        width: 100%;
        align-items: center;
        padding: 0;
        height: 420px;
        gap:15px;
    }

    .request__form *{
        width: 100%;
        font-size: 12px;
    }

    .request__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin-top: 10px;
    }
    .request__form_container{
        padding-top: 30px;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .request__form__button{
        margin-top: 10px;
    }

    .request__form__icons_container{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: auto;
        justify-content: space-between;
        padding: 0 20px;
    }
    .social_icons{
        width: 48px;
        height: 48px;
    }
    /* icons */
    /* icons */

    .request__icon_lightning{
        left: 45px;
        top: -15px;
    }

    .request__icon_message{
        top: 415px;
    }
    
    .request__icon_programmer{
        top: -14px;
        width: 50px;
        height: 50px;
    }

    .request__icon_programmer p{
        width: 20px;
        font-size: 20px;
        margin: 18px 15px;
        line-height: 20px;
    }
    .icon{
        display: none;;
    }
  }


@keyframes white_to_black{
    to{
        background-size: 100% 100%;;
        color:white;
    }
}
@keyframes gray_to_black{
    
    100%{
        background: #181818;
        /* background-size: 100% 100%; */
        color:white;
    }
}

@keyframes black_to_white {
    
    100%{
        background-size: 100% 100%;
        color:black;
    }
}